<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>inviteyoself</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% style "//fonts.googleapis.com/css?family=Lato:300,400" %}
    {% style "/css/invite.css" %}

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body>
    <div class="container">
      <img src="/img/g0vsla-02.png" />
      <div class="url">
        <div class="url-left">inviteyoself</div>
        <div class="url-right">g0v-tw.slack.com</div>
      </div>
      <img src="/img/g0vsla-04.png" />
      <section>
        {% block content %}
        {% endblock %}
      </section>
      <div class="line2"></div>
      <div class="info">10分鐘之內會收到信，若沒有收到表示已經有帳號<br/>沒有收到請聯絡 g0v 的 LY</div>
    </div>
  </body>
</html>
