{% extends "templates/base.html" %}
{% block content %}
<div class="slogan">自己的邀請函自己寄<br/>g0v零時政府的slack群組開放申請中！</div>
<div class="line"></div>

{% if not fresh %}
{% if not valid %}
<div class="error">
  <span>{{errors.email}}</span>
</div>
{% else %}
<div class="success">
  <span>成功寄出！可能需要等待 10 分鐘才會收到信。</span>
</div>
{% endif %}
{% endif %}
<form action="/" method="POST">
  <div class="email">Your Email Adress</div>
  <div>
    <input autofocus="autofocus" type="email" name="email" placeholder="Your email here" {% if not valid %} value={{data.email}} {% endif %}>
  </div>
  <div class="button-div">
    <input class="button" type="submit" value="邀請自己">
  </div>
</form>
{% endblock %}
